.todolist {
  border: 1px solid #000000;
}

.content {
  border: 1px solid #000000;
}

.content-text {
  margin-bottom: 0;
}
.content-button {
  font-size: 30px;
}

.checkcomplete {
  color: #00ff00;
}
